*.bak
*.bat
.DS_Store

/*
!/Interface/
!/.gitignore
!/README.textile
!/README.md

/Interface/ICONS/
/Interface/ICONS2/

/Interface/AddOns/Blizzard_*
/Interface/AddOns/RayUI/core/test.lua
